*{padding: 0;margin: 0;box-sizing: border-box ;}
         .body{
            border: 10px solid rgb(211, 205, 205);
         }
        .banner{
            color: white;
            height: 100vh;
            text-align: center;
            line-height: 100vh;
            margin: 10px;
        }
        .banner img{
            width: 100%;
            height: 100vh;
        }
        .section1{
            text-align: center;
            margin: 10px;
        }
        .section2{
            text-align: center;
            margin: 10px;
        }
        .section3{
            text-align: center;
            margin: 10px;
        }
        .section4{
            text-align: center;
            margin: 10px;
        }
        .circle{
            display: inline-flex;
            margin: 10px;
            margin-left: 40px;
            
        }
        .circle1{
            background-color: yellow;
            width: 45vh;
            height: 45vh;
            border-radius: 100%;
            margin: 10px;
            margin-left: 25px;
            
        }
        .circle1 img{
            width: 100%;
            height: 45vh;
            border-radius: 100%;
        }
        .box{
            display: inline-flex;
        }
        .main{
            height: 75vh;
            width: 100vh;
            background-color: gray;
            color:white;
            margin-top: 10px;
            margin-bottom: 10px; 
            margin: 10px;
            padding: 10px;
        }
        .article{
            margin-top: 12px;
        }
        .article1{
            color: blue;
            height: 23.5vh;
            width: 102vh;
            margin-bottom: 10px;
        }
        .article1 img{
            width: 100%;
            height: 20vh;
        }
        #container{
            display: inline-flex;

        }
        .html{
            width: 300px;
            height: 410px;
            background-color: white;
            overflow: hidden;
            border: 2px solid rgb(6, 6, 233);
            text-align: justify;
            padding: 10px;
            margin: 25px; 
            margin-left: 25px;
            margin-right: 10px;
            border-radius: 4%;
        }
        .image{
            margin: 10px;
        }
        .html img{
            width: 100%;
            height: 150px;
            border-radius: 10px;
        }
        .html h3{
            width: 100%;
            text-align: center;
        }
        .mybutton{
            display: block;
            margin-top: 10px;
            text-decoration: none;
            color: white;
            font-family: arial;
            background-color: red;
            padding: 10px 20px;
            border-radius: 10px;
            
        }
        .mybutton:hover{
            background-color: blue;
        }
        .footer{
            color: white;
            background-color: rgb(204, 81, 204);
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 10px;
        }
        
        .sticky .menu{
            list-style: none;
            float: right;
            display: inline-flex;
        
        }
        .sticky ul li{
            display: inline-block;
            line-height: 70px;
           
        }
        .sticky ul li a{
            padding: 0 70px;
            text-decoration: none;
            text-transform: capitalize;
            color: honeydew;
            font-family: Arial, Helvetica, sans-serif;
        }
        .sticky ul li a:hover{
            color: orange;
        }
        .sticky{
            width: 100%;
            background-color: gray;
            border-radius: 4px;
            height: 70px;
            font-size: 20px;
            padding: 0 20px;
            position: sticky;
            top: 0;
            position: -webkit-sticky;
        }
        .showbutton:hover, .hidebutton:hover{
            color: orange;
            padding: 0 ;
        }
        .showbutton, .hidebutton{
            font-size: 30px;
            line-height: 70px;
            color: white;
            display: none;
        }
        .hidebutton{
            
        }
        .showbutton{
            float: right;
        }
        #check{
            position: absolute;
            visibility: hidden;
            z-index: -10;
        }
        @media(max-width: 800px){
            .showbutton, .hidebutton{
                display: block;
            }
            .menu{
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100vh;
                background-color: black;
                display: block;
                text-align: center;
                padding: 80px 0;
                transition: .7s;
                line-height: normal;
            }
            #check:checked ~ .menu{
                right: 0;
            }
            .menu li{
                display: block;
            }
            .menu li a{
                display: block;
                
            }
            .hidebutton{
                position:absolute;
                right: 20px;
            }
            .banner{
                color: white;
                background-color: skyblue;
                height: 50vh;
                text-align: center;
                line-height: 50vh;
                margin: 10px;
            }
            .banner img{
                width: 100%;
                height: 50vh;
            }
        .section1{
            text-align: center;
            margin: 10px;
        }
        .section2{
            text-align: center;
            margin: 10px;
        }
        .section3{
            text-align: center;
            margin: 10px;
        }
        .section4{
            text-align: center;
            margin: 10px;
        }
        .circle{
            display: block;
            margin: 10px;
            margin-left: 15vh;
            
        }
        .circle1{
            background-color: yellow;
            width: 40vh;
            height: 40vh;
            border-radius: 100%;
            margin: 10px;
            margin-left: 15px;
            
        }
        .circle1 img{
            width: 100%;
            height: 40vh;
            border-radius: 100%;
        }
        .box{
            display: block;
        }
        .main{
            height: 40vh;
            width: 70vh;
            color:white;
            margin-top: 10px;
            margin-bottom: 10px; 
            margin: 10px;
            padding: 10px;
        }
        .article{
            margin: 10px;
        }
        .article1{
            color: blue;
            height: 15vh;
            width: 70vh;
            margin-bottom: 10px;
        }
        .article1 img{
            width: 100%;
            height: 10vh;
        }
        #container{
            display: block;

        }
        .html{
            width: 250px;
            height: 400px;
            background-color: white;
            overflow: hidden;
            border: 2px solid rgb(6, 6, 233);
            text-align: justify;
            padding: 10px;
            margin: 25px;
            margin-left: 70px;
            margin-right: 10px;
            border-radius: 4%;
        }
        .image{
            margin: 10px;
        }
        .html img{
            width: 100%;
            height: 100px;
            border-radius: 10px;
        }
        .footer{
            color: white;
            background-color: rgb(204, 81, 204);
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 15px;
        }
            
     }